{% extends 'layout/base.html' %}
{% load static %}
{% load qr_code %}

{% block title %}Dashboard zaměstnance | Kavárna U Pole{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
{% endblock %}

{% block content %}
<div class="user-info">
    <span>Přihlášen: <strong>{{ user.username }}</strong></span>
    
    <form class ="form-logout"action="{% url 'admin:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout">
            Odhlásit se
        </button>
    </form>
</div>

<div class="card card-no-padding">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th>Stůl</th>
                <th>QR Kód</th>
                <th>Produkt</th>
                <th>Čas</th>
                <th>Stav</th>
                <th class="text-center">Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td><strong>Stůl {{ order.table.number }}</strong></td>
                <td>{% qr_from_text order.table.number size="S" border=1 %}</td>
                <td>{{ order.product_type }}</td>
                <td>{{ order.created_at|date:"H:i:s" }}</td>
                <td>
                    {% include 'orders/includes/status_badge.html' %}
                </td>
                <td class="text-center">
                    {% if order.status == 'PENDING' and order.calculated_status == 'Nová' %}
                        <a href="{% url 'order_action' order.id 'accept' %}" class="btn-action btn-accept">✓ Přijmout</a>
                        <a href="{% url 'order_action' order.id 'reject' %}" class="btn-action btn-reject">✕ Odmítnout</a>
                    
                    {% elif order.status == 'ACCEPTED' and order.calculated_status == 'Přijatá' %}
                        <a href="{% url 'order_action' order.id 'complete' %}" class="btn-action btn-complete">☀ Dokončit</a>
                    
                    {% else %}
                    <form class="remove-form"action="{% url 'archive_order' order.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-small">
                            Odstranit z přehledu
                        </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center small-gray">
                    Aktuálně nejsou žádné nové objednávky.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}